.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Content-Wrapper {
  width: 95%;
  height: 100%;
  float: left;
  vertical-align: center;
  background: gray;
  position: relative;
}

.Side-Bar {
  width: 5%;
  height: 100%;
  float: left;
  background: dimgrey
}

.Upload-Hint-Message {
  font-size: large;
  margin: 5px;
}